<template>
  <div
    id="genes"
    class="relative h-full w-full"
    @contextmenu="$event.preventDefault()"
  >
    <div
      v-if="showTooltip"
      id="tooltip"
      ref="tooltip"
      class="absolute p-1 z-10 font-gligoth tracking-wide subpixel-antialiased"
      @mouseleave="showTooltip = false"
      @click="showTooltip = false"
    >
      <div
        class="flex flex-col m-5 p-2 h-auto bg-black z-10 rounded-sm text-sm text-white opacity-75"
      >
        <div class="cursor-default">
          {{ geneData.genes[menuBelongsTo].stable_id }}
        </div>
        <div
          class="cursor-pointer ml-2 mb-1 text-xs"
          @click.stop="openMist(menuBelongsTo)"
        >
          MiST3
        </div>
        GROUPS
        <div
          v-if="geneData.genes[menuBelongsTo].representation.groups.length > 0"
          class="font-cascadia text-2xs"
        >
          <li
            v-for="group of geneData.genes[menuBelongsTo].representation.groups"
            :key="group.hash"
            class="flex flex-row list-none mx-2"
          >
            <div
              :style="makeStyle(group.color)"
              class="my-auto mx-1 w-2 h-2 mr-2"
            />
            <div class="cursor-default w-40">
              {{ group.hash }} - {{ group.size }} - {{ group.evalue }}
            </div>
            <div
              class="font-bold cursor-pointer rounded-full ml-2 cursor-default text-white w-1/6"
              @click="exportSeq(group, $event)"
            >
              export
            </div>
            <div
              class="font-bold cursor-pointer rounded-full ml-2 cursor-default text-red-700 w-1/6"
              @click.stop="removeGroup(group)"
            >
              x
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable camelcase */
/* eslint-disable unicorn/prefer-includes */
import crypto from 'crypto'
import Vue from 'vue'
import * as d3 from 'd3'

import { IGene, IGn, IHomologyGroup } from 'src/interfaces'

import { Logger } from 'loglevel-colored-prefix'

const logger = new Logger('info')
const log = logger.getLogger('Genes')

const arrow2line = d3
  .line()
  .x(function(d) {
    return d[0]
  })
  .y(function(d) {
    return d[1]
  })

export default Vue.extend({
  props: {
    geneData: {
      type: Object,
      default() {
        return {}
      }
    },
    prefix: {
      type: String,
      default() {
        return ''
      }
    }
  },
  data() {
    const kDefaults = {
      gene: {
        height: 30,
        spaceBetweenClusters: 0,
        borderThicknessRef: 2,
        borderThickness: 1,
        borderColor: '#000000',
        borderColorSelected: '#AA0000',
        fill: '#FFFFFF',
        unselectedOpacity: 0.5,
        membersOpacity: 1
      },
      geneClusters: {
        paddingX: 30,
        maxStart: -Infinity,
        maxStop: -Infinity,
        width: 0,
        height: 0
      },
      limits: {
        maxIterations: 10
      },
      extraOffsetY: 0
    }
    const selected = -1
    const lastHovered = -1
    const menuBelongsTo = -1
    const currentSelectedColor = '#FFFFFF'
    const currentThreshold = 100
    const showTooltip = false
    const posY: Array<{ name: string; y: number }> = []
    const dom2gene: number[] = []
    return {
      kDefaults,
      selected,
      lastHovered,
      currentSelectedColor,
      currentThreshold,
      dom2gene,
      menuBelongsTo,
      showTooltip,
      posY
    }
  },
  beforeMount() {
    this.geneData.genes.forEach((gene: IGene) => {
      log.debug(gene.stable_id)
      let mask = false
      if (gene.aseq_id === null) {
        mask = true
      }
      if (!gene.representation) {
        gene.representation = {
          selected: false,
          groups: [],
          mask
        }
      } else {
        gene.representation.selected = false
      }
    })
    this.geneData.gnl.forEach((gn: IGn) => {
      gn.order.forEach((gId) => {
        this.geneData.genes[gId].gh = {
          refStrand: gn.refStrand,
          refStart: gn.pos.refStart,
          ref: gn.ref
        }
      })
      log.debug(
        `${gn.ref} => start: ${gn.pos.start}, stop: ${gn.pos.stop} ref: ${gn.pos.refStart} str: ${gn.refStrand}`
      )
      this.kDefaults.geneClusters.maxStart =
        Math.abs(gn.pos.start) > this.kDefaults.geneClusters.maxStart
          ? Math.abs(gn.pos.start)
          : this.kDefaults.geneClusters.maxStart
      this.kDefaults.geneClusters.maxStop =
        Math.abs(gn.pos.stop) > this.kDefaults.geneClusters.maxStop
          ? Math.abs(gn.pos.stop)
          : this.kDefaults.geneClusters.maxStop
    })
    log.info(`MaxStart = ${this.kDefaults.geneClusters.maxStart}`)
    log.info(`MaxStop = ${this.kDefaults.geneClusters.maxStop}`)
  },
  destroyed() {
    window.removeEventListener('resize', this.updateGenesWidth)
  },
  mounted() {
    window.addEventListener('resize', this.updateGenesWidth)

    this.kDefaults.geneClusters.width = this.$el.clientWidth
    this.kDefaults.geneClusters.height = this.$el.clientHeight

    this.$root.$on(
      'phylogenyUpdated',
      (info: Array<{ name: string; y: number }>) => {
        log.debug('Received event that phylogeny was updated')
        this.posY = info
        this.updateOrder()
      }
    )

    this.buildGeneRepresentation()
    this.addActions()
    this.updateRepresentation()

    this.$root.$on('colorChange', (newColor: string) => {
      this.currentSelectedColor = newColor
      if (this.selected !== -1) {
        const selectedGroup = this.geneData.genes[this.selected].representation
          .groups[0]
        selectedGroup.color = newColor
        this.updateMembers(selectedGroup, this.selected)
        this.updateRepresentation()
      }
    })
    this.$root.$on('thresholdChange', (newThr: number) => {
      this.currentThreshold = newThr
      if (this.selected !== -1) {
        const selectedGroup = this.geneData.genes[this.selected].representation
          .groups[0]
        selectedGroup.evalue = newThr
        this.updateMembers(selectedGroup, this.selected)
        this.updateRepresentation()
      }
    })
    this.$root.$on('giveGeneData', () => {
      log.debug('Received event that we must return current gene data')
      this.$root.$emit('sendingGeneData', this.geneData)
    })
    this.$root.$emit('genesReady')
  },
  methods: {
    buildGeneRepresentation() {
      log.info('Building representatio of genes')
      const svg = d3
        .select('#genes')
        .append('svg')
        .attr('id', 'genesSVG')
        .attr('width', this.kDefaults.geneClusters.width)
        .attr('height', this.kDefaults.geneClusters.height)

      const genehoodCoerced = this.geneData.gnl as IGn[]

      svg
        .selectAll('.gnl')
        .data(genehoodCoerced)
        .enter()
        .append('svg')
        .attr('class', (gn) => `gn ${gn.ref.replace(/\./g, '')}`)
        .selectAll('path')
        .data((gn) => {
          return gn.order.map((i) => {
            this.dom2gene.push(i)
            return this.geneData.genes[i]
          })
        })
        .enter()
        .append('path')
        .attr(
          'id',
          (gene) =>
            `g${
              this.geneData.genes.find(
                (g: IGene) => gene.stable_id === g.stable_id
              ).stable_id
            }`
        )
        .attr('class', 'gene')
    },
    addActions() {
      d3.selectAll('.gene')
        .on('click', (gene: any, i) => {
          const geneCoerced: IGene = gene as IGene
          if (!geneCoerced.representation.mask) {
            if (this.selected === -1) {
              this.selectGene(geneCoerced, this.dom2gene[i])
            } else if (geneCoerced.representation.selected) {
              this.deselectGene(geneCoerced)
            }
          }
        })
        .on('contextmenu', (_gene, i) => {
          d3.event.preventDefault()
          this.menuBelongsTo = this.dom2gene[i]
          const geneCoords = this.$el.getBoundingClientRect()
          log.debug(`context: ${JSON.stringify(geneCoords)}`)
          const pos = {
            x: d3.event.clientX,
            y: d3.event.clientY
          }
          log.debug(`Event click: ${pos.x}, ${pos.y}`)
          log.debug(`Gene id: ${i} (dom) :: ${this.dom2gene[i]} (gene)`)
          this.showTooltip = true
          this.$nextTick(function() {
            const tooltipElement = this.$refs.tooltip as Element
            const postAttrTooltip = tooltipElement.getBoundingClientRect()
            let offsetX = pos.x - geneCoords.left - 20
            if (
              pos.x - geneCoords.left + postAttrTooltip.width >
              geneCoords.width
            ) {
              offsetX +=
                geneCoords.width -
                (pos.x - geneCoords.left + postAttrTooltip.width)
            }
            let offsetY = pos.y - geneCoords.top - 20
            if (
              pos.y - geneCoords.top + postAttrTooltip.height >
              geneCoords.height
            ) {
              offsetY +=
                geneCoords.height -
                (pos.y -
                  geneCoords.top +
                  postAttrTooltip.height +
                  this.kDefaults.extraOffsetY)
            }
            d3.selectAll('#tooltip')
              .style('top', `${offsetY}px`)
              .style('left', `${offsetX}px`)
          })
        })
        .on('mouseover', (gene: any, i: number) => {
          const geneCoerced: IGene = gene as IGene
          log.debug(`mouse over ${geneCoerced.stable_id}`)
          const info = this.gatherGeneAndGenomeInfo(geneCoerced)
          this.lastHovered = i
          this.$root.$emit('infoGene', info)
        })
        .on('mouseout', () => {
          this.$root.$emit('cleanInfo')
        })
    },
    selectGene(gene: IGene, j: number) {
      this.$root.$emit('updateDialog', `${gene.stable_id} selected`)
      gene.representation.selected = true
      const i = this.geneData.genes
        .map((d: IGene) => d.stable_id)
        .indexOf(gene.stable_id)
      this.selected = j
      log.debug(
        `gene passed on selection ${i}: ${JSON.stringify(
          this.geneData.genes[i]
        )}`
      )
      log.debug(`This gene should be: ${JSON.stringify(gene)}`)
      log.debug(
        `gene from the index selection: ${JSON.stringify(
          this.geneData.genes[j]
        )}`
      )
      // this.updateRepresentation()
      if (gene.representation.groups.length === 0) {
        const group = this.makeNewGroup()
        gene.representation.groups.push(group)
        this.updateMembers(group, j)
      }
      this.updateRepresentation()
      const info = this.gatherGeneAndGenomeInfo(gene)
      this.$root.$emit('geneSelected', info)
      this.$root.$emit('infoGene', info)
    },
    deselectGene(gene: IGene) {
      gene.representation.selected = false
      this.selected = -1
      this.updateRepresentation()
      this.$root.$emit('geneUnselected')
    },
    makeNewGroup(): IHomologyGroup {
      return {
        color: this.currentSelectedColor,
        hash: crypto.randomBytes(4).toString('hex'),
        evalue: this.currentThreshold,
        size: 0
      }
    },
    updateMembers(group: IHomologyGroup, refId: number) {
      this.removeCurrentMembers(group)
      const tic = performance.now()
      const members = this.findMembers(group, new Set([refId]))
      log.info(`Members selected in ${(performance.now() - tic).toFixed(2)}`)
      group.size = members.size
      this.addMembers(group, members)
    },
    removeCurrentMembers(group: IHomologyGroup) {
      const allGenes = this.geneData.genes
      allGenes.forEach((gene: IGene) => {
        const groupIndex = gene.representation.groups.findIndex(
          (grp) => grp.hash === group.hash
        )
        if (groupIndex !== -1) {
          gene.representation.groups.splice(groupIndex, 1)
        }
      })
    },
    findMembers(
      group: IHomologyGroup,
      alreadyMembers: Set<number>,
      iterations: number = 0
    ): Set<number> {
      const newMembers: Set<number> = new Set([])
      log.debug(`Iteration ${iterations}: Valid links`)
      const numberOfLinks = this.geneData.links.length
      for (let i = 0; i < numberOfLinks; i++) {
        const link = this.geneData.links[i]
        if (link.s !== link.t && link.e > this.currentThreshold) {
          if (
            alreadyMembers.has(link.s) &&
            !alreadyMembers.has(link.t) &&
            !newMembers.has(link.t)
          ) {
            newMembers.add(link.t)
          } else if (
            alreadyMembers.has(link.t) &&
            !alreadyMembers.has(link.s) &&
            !newMembers.has(link.s)
          ) {
            newMembers.add(link.s)
          }
        }
      }
      const allMembers = new Set([...alreadyMembers, ...newMembers])
      if (iterations > this.kDefaults.limits.maxIterations) {
        const msg = `Number of iterations (${this.kDefaults.limits.maxIterations}) to find homologs exceeded the limit. You may want to make your dataset smaller or increase the threshold.`
        log.warn(msg)
        this.$root.$emit('updateDialog', msg)
        return allMembers
      }
      if (newMembers.size > 0) {
        const moreMembers = this.findMembers(group, allMembers, iterations + 1)
        return new Set([...allMembers, ...moreMembers])
      }
      return allMembers
    },
    addMembers(group: IHomologyGroup, members: Set<number>) {
      members.forEach((gId) => {
        const groupsInMember = this.geneData.genes[gId].representation.groups
        log.debug(
          `About to add a new group to ${this.geneData.genes[gId].stable_id}. List of groups`
        )
        log.debug(
          JSON.stringify(this.geneData.genes[gId].representation.groups)
        )
        groupsInMember.push(group)
        this.geneData.genes[gId].representation.groups = groupsInMember.sort(
          (a: IHomologyGroup, b: IHomologyGroup) => {
            return a.evalue - b.evalue
          }
        )
        log.debug('Just added new group. List of groups')
        log.debug(
          JSON.stringify(this.geneData.genes[gId].representation.groups)
        )
      })
    },
    isMember(group: IHomologyGroup) {
      this.geneData.genes.filter((gene: IGene) => {
        return gene.representation.groups[0].hash === group.hash
      })
    },
    gatherGeneAndGenomeInfo(gene: IGene) {
      const genomeVersion = gene.stable_id.split('-')[0]
      const genome = this.geneData.genomes.find(
        (genomeInfo: any) => genomeInfo.version === genomeVersion
      )
      const aseqInfo = this.geneData.aseqs.find(
        (aseqI: { id: string }) => aseqI.id === gene.aseq_id
      )
      return {
        gene,
        genome,
        aseqInfo
      }
    },
    updateOrder() {
      d3.selectAll('.gn')
        .transition()
        .duration(1000)
        .attr('y', (gn: any) => {
          const gnCoerced = gn as IGn
          const item = this.posY.find(
            (element) => element.name === gnCoerced.ref
          )
          if (item) {
            return item.y - (4 * this.kDefaults.gene.height) / 5
          }
          return 0
        })
        .style('display', (gn: any) => {
          const gnCoerced = gn as IGn
          const item = this.posY.find(
            (element) => element.name === gnCoerced.ref
          )
          if (!item) {
            return 'none'
          }
          return 'block'
        })
    },
    updateRepresentation() {
      d3.selectAll('.gene')
        .attr('d', (gene) => this.makeArrows(gene as IGene))
        .attr('stroke', (_gene, i) =>
          this.selected === this.dom2gene[i]
            ? this.kDefaults.gene.borderColorSelected
            : this.kDefaults.gene.borderColor
        )
        .attr('stroke-width', (gene) => {
          const geneCoerced = gene as IGene
          return geneCoerced.gh.ref === geneCoerced.stable_id
            ? this.kDefaults.gene.borderThicknessRef
            : this.kDefaults.gene.borderThickness
        })
        .attr('fill', (gene) => {
          const geneCoerced = gene as IGene
          const groups = geneCoerced.representation.groups
          if (groups.length) {
            return groups[0].color
          }
          return this.kDefaults.gene.fill
        })
        .attr('opacity', (gene, i) => {
          const geneCoerced = gene as IGene
          if (geneCoerced.representation.mask) {
            return this.kDefaults.gene.unselectedOpacity
          }
          if (this.selected !== -1) {
            if (this.selected === this.dom2gene[i]) {
              return 1
            }
            let isMember = false
            if (
              geneCoerced.representation.groups.length !== 0 &&
              this.geneData.genes[this.selected].representation.groups
                .length !== 0
            ) {
              log.debug(geneCoerced.stable_id)
              const selectedGroupHash = this.geneData.genes[this.selected]
                .representation.groups[0].hash
              isMember =
                geneCoerced.representation.groups[0].hash === selectedGroupHash
            }
            return isMember
              ? this.kDefaults.gene.membersOpacity
              : this.kDefaults.gene.unselectedOpacity
          }
          return 1
        })
    },
    updateGenesWidth() {
      this.kDefaults.geneClusters.width = this.$el.clientWidth
      d3.selectAll('svg').attr('width', this.kDefaults.geneClusters.width)
      this.updateRepresentation()
    },
    makeArrows(gene: IGene) {
      const refStart = gene.gh.refStart
      const refStrand = gene.gh.refStrand
      const offSet =
        refStrand === '+'
          ? refStart -
            (this.kDefaults.geneClusters.maxStart -
              this.kDefaults.geneClusters.maxStop) /
              2
          : refStart +
            (this.kDefaults.geneClusters.maxStart -
              this.kDefaults.geneClusters.maxStop) /
              2
      let begin = this.xDom(gene.start - offSet, refStrand)
      if (refStrand === '+') {
        begin += this.kDefaults.geneClusters.width / 2
      } else {
        begin -= this.kDefaults.geneClusters.width / 2
      }
      let length =
        this.xDom(gene.stop - offSet, refStrand) -
        this.xDom(gene.start - offSet, refStrand)
      if (gene.start > gene.stop) {
        length =
          this.xDom(gene.stop + gene.start - offSet, refStrand) -
          this.xDom(gene.start - offSet, refStrand)
      }
      const path = this.makePathOfOneGene(begin, length, gene.strand)
      return arrow2line(path)
    },
    makePathOfOneGene(startX: number, len: number, strand: '+' | '-') {
      const H = this.kDefaults.gene.height
      const arrowBorderWidth = this.kDefaults.gene.borderThickness
      let arrow: [number, number][] = []
      const h = H / 5
      if (strand !== '-') {
        arrow = [
          [startX, H / 2],
          [startX + (len * 8) / 11, H / 2],
          [startX + (len * 8) / 11, H / 2 - h],
          [startX + len, H / 2 + h * 1.5],
          [startX + (len * 8) / 11, H / 2 + h * 4],
          [startX + (len * 8) / 11, H / 2 + h * 3],
          [startX, H / 2 + h * 3],
          [startX, H / 2 - arrowBorderWidth / 2]
        ]
      } else {
        arrow = [
          [startX, H / 2 + h * 1.5],
          [startX + (len * 3) / 11, H / 2 - h],
          [startX + (len * 3) / 11, H / 2],
          [startX + len, H / 2],
          [startX + len, H / 2 + h * 3],
          [startX + (len * 3) / 11, H / 2 + h * 3],
          [startX + (len * 3) / 11, H / 2 + h * 4],
          [startX, H / 2 + h * 1.5]
        ]
      }
      return arrow
    },
    xDom(a: number, refStrand: '+' | '-') {
      const range =
        refStrand === '+'
          ? [
              0,
              this.kDefaults.geneClusters.width -
                this.kDefaults.geneClusters.paddingX
            ]
          : [
              this.kDefaults.geneClusters.width,
              this.kDefaults.geneClusters.paddingX
            ]
      return d3
        .scaleLinear()
        .domain([
          0,
          this.kDefaults.geneClusters.maxStop +
            this.kDefaults.geneClusters.maxStart
        ])
        .range(range)(a)
    },
    async removeGroup(group: IHomologyGroup) {
      this.removeCurrentMembers(group)
      this.selected = -1
      const b = this.menuBelongsTo
      this.menuBelongsTo = -1
      this.menuBelongsTo = b
      this.updateRepresentation()
      await this.$nextTick()
    },
    exportSeq(group: IHomologyGroup, _event: any) {
      const allGenes = this.geneData.genes
      const sequences: string = allGenes
        .filter((gene: IGene) => {
          const genes = gene.representation.groups.findIndex(
            (grp) => grp.hash === group.hash
          )
          return genes !== -1
        })
        .map((gene: IGene) => {
          const aseqInfo = this.geneData.aseqs.find(
            (aseqI: { id: string }) => aseqI.id === gene.aseq_id
          )
          if (aseqInfo) {
            return `>${gene.stable_id}\n${aseqInfo.sequence}`
          }
          return `>${gene.stable_id}\nDataNotFound`
        })
        .join('\n')

      const filename = `${this.prefix}.geneHood.${group.hash}.${Date.now()}.fa`
      const element = document.createElement('a')
      element.setAttribute(
        'href',
        'data:text/plain;charset=utf-8,' + encodeURIComponent(sequences)
      )
      element.setAttribute('download', filename)
      element.style.display = 'none'
      document.body.appendChild(element)

      element.click()

      document.body.removeChild(element)

      log.info('download sequences')
    },
    openMist(gId: number) {
      const gene = this.geneData.genes[gId]
      if (gene) {
        const url = `https://mistdb.com/genes/${gene.stable_id}`
        window.open(url, '_blank')
      }
    },
    makeStyle(color: string) {
      return `background-color: ${color}`
    }
  }
})
</script>
<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
</style>
