<template>
  <div
    class="flex flex-shrink w-full flex-col mx-auto max-w-full truncate font-gligoth subpixel-antialiased"
  >
    <div class="flex-s hrink whitespace-no-wrap truncate">
      <span class="italic">{{ species }}</span> {{ strain }}
    </div>
    <div class="truncate text-sm">
      {{ stableId }}
      <span v-if="names.length !== 0 && !mask" class="text-sm">
        - {{ names }}
      </span>
    </div>
    <div
      v-if="groupHash && !mask"
      class="w-full flex flex-row items-center h-5"
    >
      <div
        :style="makeStyle(groupColor)"
        class="mr-1 w-3 h-3 font-cascadia text-sm"
      ></div>
      <div class="text-sm">
        {{ groupHash }} - {{ groupSize }} - {{ groupEvalue }}
      </div>
    </div>
    <div
      v-if="!groupHash && !mask"
      class="w-full flex flex-row items-center h-5"
    />
    <div v-if="!mask" :id="protDivId" class="my-1 flex" />
    <div v-if="mask" class="whitespace-normal">
      ERROR - GENE NOT FOUND
    </div>
    <div v-if="mask" class="whitespace-normal">
      Possible reason:
      <span class="text-red-700">{{ notes }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { ProtAnnot } from 'prot-annot'
import { Logger } from 'loglevel-colored-prefix'

const logger = new Logger('info')
const log = logger.getLogger('GeneInfoDisplay')

export default Vue.extend({
  props: {
    aseq: {
      type: String,
      default() {
        return ''
      }
    },
    aseqInfo: {
      type: Object,
      default() {
        return {
          id: ''
        }
      }
    },
    stableId: {
      type: String,
      default() {
        return ''
      }
    },
    species: {
      type: String,
      default() {
        return ''
      }
    },
    strain: {
      type: String,
      default() {
        return ''
      }
    },
    locus: {
      type: String,
      default() {
        return ''
      }
    },
    mask: {
      type: Boolean,
      default() {
        return false
      }
    },
    names: {
      type: String,
      default() {
        return ''
      }
    },
    notes: {
      type: String,
      default() {
        return ''
      }
    },
    groupColor: {
      type: String,
      default() {
        return ''
      }
    },
    groupHash: {
      type: String,
      default() {
        return ''
      }
    },
    groupEvalue: {
      type: Number,
      default() {
        return 100
      }
    },
    groupSize: {
      type: Number,
      default() {
        return 0
      }
    },
    kind: {
      type: String,
      default() {
        return ''
      }
    }
  },
  data() {
    const protDivId = `prot-annot-${this.kind}`
    return {
      protDivId
    }
  },
  mounted() {
    this.getProtAnnot(this.aseqInfo)
  },
  methods: {
    makeStyle(color: string) {
      return color === '#FFFFFF'
        ? `background-color: ${color}; border:solid; border-width: 1px`
        : `background-color: ${color}`
    },
    getProtAnnot(aseqInfo: any) {
      const div = document.getElementById(`prot-annot-${this.kind}`)
      log.debug(div)
      log.debug(aseqInfo)
      if (div) {
        div.innerHTML = '... fetching protein annotations ...'
        const protannot = new ProtAnnot(aseqInfo)
        div.innerHTML = ''
        const scale = (div.clientWidth - 10) / aseqInfo.length
        protannot.draw(div, scale < 0.5 ? scale : 0.5)
      }
    }
  }
})
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
</style>
