<template>
  <div class="w-full">
    <div class="sticky top-0 w-auto z-10">
      <nav-bar
        :pack="pack"
        :internal="pack.config.internal"
        :user="pack.config.user"
      />
    </div>
    <div class="flex flex-row flex-grow w-full h-auto">
      <div class="w-1/2 max-w-sm m-1">
        <phylogeny
          :newick="pack.config.user.newickTree"
          :genome-info="{ info: pack.data.genomes }"
        />
      </div>
      <div class="w-1/2 flex-grow m-1">
        <genes
          :gene-data="pack.data"
          :prefix="pack.config.user.settings.geneHoodPrefix"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Genes from './Genes'
import NavBar from './NavBar'
import Phylogeny from './Phylogeny'

export default Vue.extend({
  components: {
    Genes,
    NavBar,
    Phylogeny
  },
  props: {
    pack: {
      type: Object,
      default() {
        return {}
      }
    }
  }
})
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
</style>
