<template>
  <div class="my-5">
    <div
      class="relative w-32 mx-auto text-center cursor-pointer bg-teal-600 rounded-lg px-3 py-1 text-white text-xs"
    >
      <input
        id="files"
        type="file"
        class="absolute block w-full h-full t-0 r-0 rounded-lg -my-1 -mx-3 opacity-0"
        @change="onFileChange"
      />
      <button>
        Load data
      </button>
    </div>
  </div>
</template>
<script lang="ts">
import zlib from 'zlib'
import Vue from 'vue'
import { Logger } from 'loglevel-colored-prefix'

const logger = new Logger('info')
const log = logger.getLogger('LoadDataButton')

export default Vue.extend({
  methods: {
    onFileChange(e: any) {
      const files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      const reader = new FileReader()
      reader.readAsArrayBuffer(files[0])
      reader.onload = () => {
        const data = reader.result as ArrayBuffer
        if (data) {
          const dataZipped = Buffer.from(data)
          const unzippedRaw = zlib.unzipSync(dataZipped)
          const unzipped = unzippedRaw.toString()
          log.debug(unzippedRaw)
          let pack: any = {}
          try {
            pack = JSON.parse(unzipped)
            log.info(pack.config.internal)
          } catch (err) {
            const errorPayload = {
              show: true,
              msg: err.message
            }
            this.$emit('newError', errorPayload)
            log.error(errorPayload)
            log.error(pack)
            // console.error(err)
          }
          if (this.checkIntegrity(pack)) {
            this.$root.$emit('dataReceived', pack)
          }
        }
      }
      reader.onprogress = (progress) => {
        log.info(progress)
      }
    },
    checkIntegrity(pack: any) {
      if (
        pack.config.internal &&
        pack.config.user &&
        pack.config.history &&
        pack.data
      ) {
        return true
      }
      return false
    }
  }
})
</script>
<style></style>
