<template>
  <div class="w-full">
    <div class="w-full h-full bg-black opacity-75">
      <div>
        GENOME
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  components: {},
  props: {
    pack: {
      type: Object,
      default() {
        return {}
      }
    }
  }
})
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
</style>
