@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'vue-slider-component/theme/default.css';
@import 'plyr/dist/plyr.css';

@font-face {
  font-family: 'Impact';
  font-weight: normal;
  src: url('../fonts/impact.ttf')
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf')
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('../fonts/Roboto-Black.ttf')
}

@font-face {
  font-family: 'Cascadia';
  font-weight: normal;
  src: url('../fonts/Cascadia.ttf')
}

@font-face {
  font-family: 'Blockschrift';
  font-weight: normal;
  src: url('../fonts/BlockschriftFrFlugzeuge.ttf')
}

@font-face {
  font-family: 'GliGoth';
  font-weight: normal;
  src: url('../fonts/gligoth.ttf')
}
