<template>
  <div>
    <splash v-if="waitingData" />
    <gene-hood v-if="!waitingData" id="genehood" :pack="pack" />
  </div>
</template>

<script>
import Vue from 'vue'
import Splash from '../components/Splash'
import GeneHood from '../components/GeneHood'

export default Vue.extend({
  components: {
    Splash,
    GeneHood
  },
  data: () => {
    const waitingData = true
    const pack = {}
    return {
      waitingData,
      pack
    }
  },
  mounted() {
    this.$root.$on('dataReceived', (pack) => {
      this.waitingData = false
      this.pack = pack
    })
    this.$root.$on('goBackToSplash', () => {
      this.waitingData = true
    })
  }
})
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
</style>
